@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* App style */
*{
    background-color: #B1D6FB;
    font-family: "Poppins", sans-serif;
}
#main-heading{
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0px;
}
#subheading{
    text-align: center;
    color: #5d6864;
    margin-top: 0px;
}
.btns{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.btns a{
    text-align: center;
    text-decoration: none ;
    background-color: #454ADE;
    color: white;
    padding: 4px 15px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
/* TodoList style */
#main-div{
    background-color: white;
    max-height: 300px;
    height: 300px;
    border-radius: 15px;
    max-width: 300px;
    padding: 20px;
    overflow-y: scroll;
}
/* TodoForm */
.form{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
.form input{
    background-color: white;
    outline: none;
    padding: 4px 6px;
    border-radius: 4px;
}
.form #input{
    flex: 1;
    background-color: #c7e0f9;
    border: none;
    outline: 1px solid gray;
}
.form #btn{
    padding: 4px 16px;
    background-color: #3D518C;
    color: white;
    font-weight: 400;
    border: 2px solid #3D518C;
}
/* TODO List */
#main-list {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 2px solid gray;
    background-color: white;
}

#main-list li{
    background-color: white;
    border-radius: 6px;
    margin-bottom: 8px;
    border: 2px solid gray;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    padding: 0px 6px;
}

li span{
    width: 75%;
    background-color: white;
    overflow-wrap: break-word;
    font-size: 15px;
}
li button {
    width: 20%;
    font-size: 12px;
    height: 100%;
    background-color: white;
    color: #454ADE;
    border: none;
    font-weight: 600;
    border-left: 2px solid #454ADE;
    cursor: pointer;
}
li #tick{
    width: 10%;
    display: inline-block;
    float: right;
    background-color: white;
    margin: 0px 10px 0px 0px;

}